
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px;
    margin: 10px auto; 
    border-bottom: 1px solid #ccc;
    max-width: 600px; 
    background-color: #f9f9f9;
    border-radius: 8px;
  }

  .todo-item.completed span {
    text-decoration: line-through;
    color: gray;
  }
  
  button {
    padding: 8px 12px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }
  

  button.complete {
    background-color: green;
  }
  
 
  button.incomplete {
    background-color: red;
  }
  
 .remove {
    background-color: red;
    color: white;
  }

  .edit {
    background-color: rgb(95, 95, 243); 
    color: white; 
  }
 .update {
    background-color: #626a74; 
    color: white;
  }

 